*{
  margin: 0px;
  border: 0px;
  box-sizing: border-box;  
}
#main-container{
height: 60vh;
width: 50vw;
background-color: rgb(194, 204, 205);
margin: 5vh auto;
border-bottom-left-radius: 4vh;
border-bottom-right-radius: 4vh;
}
#heading{
    height: 7vh;
    width: 100%;
    background-color: #090960;
    color: white;
    text-align: center;
}
#input-box{
    margin-top: 5vh;
    display: flex;
    justify-content: center;
    gap: 4vw;
}
.box{
    height: 4vh;
    width: 6vw;
    border: 3px solid blue;
}
#submit-btn{
    height: 5vh;
    width: 10vw;
    margin-top: 10vh;
    margin-left: 20vw;
    background-color: blue;
    color: white;
}
#display{
    text-align: center;
    margin-top: 10vh;
    font-size: 18px;
    font-weight: bold;
    color: rgb(6, 60, 91);
}